 <header style="background-image: url(<%=asset_path('military-dad.jpg')%>">
 	<div class="intro-content">
		<div class="brand-name">Support our Heroes</div>
		<hr class="colored">
		<div class="brand-name-subtext">thank you for your generosity</div>
	</div>
</header>

<section>
    <div class="container-fluid">
    	<div class="row text-center">
    	    <div class="col-lg-12">
    	        <h2>Simple and Secure Donations</h2>
    	        <p>We use 128-bit encryption and your payment info is never stored on our servers</p>
    	        <hr class="colored">
    	    </div>
    	</div>

	    <div class="col-lg-8 col-lg-offset-2">
	    		<div class="col-md-8 col-md-offset-2 text-center">
	    			<h4>Which state do you reside in?</h4>
	    			<div class="clients">
		    			<% @clients.each do |client|  %>
		    				<%= link_to client.name, "##{client.name}", class: "btn btn-outline-dark", data: {form_link: client.donorbox_link} %>	
		    			<% end %>
	    			</div>
	    			<div class="form-header" style="margin-top:30px;">
	    				<%= image_tag "american-legion-logo.png" %>
	    				<h3 class="name"></h3>
	    			</div>
	    		</div>
	    		<div id="donorbox-form">
	    		</div>
	    </div>
    </div>
</section>


