 <header style="background-image: url(<%=asset_path('military-dad.jpg')%>">
 	<div class="intro-content">
		<div class="brand-name">Support our Heroes</div>
		<hr class="colored">
		<div class="brand-name-subtext">thank you for your generosity</div>
	</div>
</header>

<section>
    <div class="container-fluid">
    	<div class="row text-center">
    	    <div class="col-lg-12">
    	        <h2>Simple and Secure Donations</h2>
    	        <p>We use 128-bit encryption and your payment info is never stored on our servers</p>
    	        <hr class="colored">
    	    </div>
    	</div>

	    <div class="col-lg-8 col-lg-offset-2">
	        <script src="https://donorbox.org/widget.js" type="text/javascript"></script><iframe src="https://donorbox.org/embed/test-1-2" height="685px" width="100%" style="min-width:310px" seamless="seamless" id="dbox-form-embed" name="donorbox" frameborder="0" scrolling="no"></iframe>
	    </div>
    </div>
</section>


