<h1>Hello Mike!</h1>
<p>This is your admin dashboard page.  Right now, you only have the need to update client's donation form links.</p>

<%= link_to "Manage Clients", admin_clients_path, class: "btn btn-block btn-outline-dark" %>