<h1>Hello Mike!</h1>
<p>This is your admin dashboard page. Right now you can visit your blog and manage DonorBox info.</p>

<%= link_to "Manage DonorBox Info", admin_clients_path, class: "btn btn-block btn-outline-dark" %>

<%= link_to "View Blog", "https://v360fundraising.wordpress.com/" , class: "btn btn-block btn-outline-dark", target: "_blank" %>