.brand-name-subtext{
	line-height:35px !important;
}

section#customers{
	// background:#2980b9;
	background:#3D6BA7;
	color:white;
	.col-lg-3{
		p{font-weight:bold;margin-top:-40px}
	}
	img#american-legion-logo{
		width:12%;
		margin-top:-20px;
	}
}


h3.process-header{
	margin-top:0px;
}

#process{
	.content-row{
		margin-top:50px;
	}
}

#blog{
	h4{margin-top:0px}
}

aside.no-padding{
	padding:100px 0px;
}

h2.logo{
	maring:0px;
	margin-top:-4px;
	border:2px solid white;
	border-radius:50%;
	padding:10px;
	font-size:30px;
}